* {
    box-sizing: border-box
}
html, body {
    width: 100%;
    overflow: auto;
    
    
}
.glider-contain {
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
}
.glider-slide {
    min-height: 150px;
}
.glider-slide img {
    width: 100%;
}

.fotos{
    width: 400px;
    height: 400px;
}

.fotosprolado{
    margin-top: 15px;
    margin-left: 10%;
}

#descricao{
    margin-left: 14%;
}

hr{
    width: 80%;
}

.divs{
    padding-left: 20%;
    padding-top: 7%;
    padding-bottom: 7%;
}

.divs3{
    padding-left: 20%;
    padding-top: 7%;
    
}

*{
	padding:0;
	margin:0;
}

/*	general	*/

section{
    padding: 50px 0;
}


#slide {
    position: relative;
    top: -300px;
    

    -webkit-animation: slide 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slide 1.5s forwards;
    animation-delay: .5s;
}

@-webkit-keyframes slide {
    100% { top: 10px; }
}

@keyframes slide {
    100% { top: 0; }
}

.logot{
    
    max-height:200px;
    width: auto;
    height: auto;
    object-fit: contain;

}
button{
    .glass-panel {
        color: #fff;
        margin: 40px auto;
        background-color: rgba(255,255,255,0.06);
        border: 1px solid rgba(255,255,255,0.1);
        width: 100%;
        border-radius: 15px;
        padding: 32px;
        backdrop-filter: blur(10px);
      }
    
}

.slidertexto {
    position: relative;
    bottom: -500px;
    

    -webkit-animation: slidertexto 1s forwards;
    -webkit-animation-delay: 0s;
    animation: slidertexto 1.5s forwards;
    animation-delay: .5s;
}

@-webkit-keyframes slidertexto {
    100% { bottom: 10px; }
}

@keyframes slidertexto {
    100% { bottom: 0; }
}

.lattesb{
    margin-left: 30px;
}

.cordiferente{
    background-color: rgb(243, 243, 243);  
    padding-bottom: 10%;
}

.cordiferente2{
    background-color: rgb(243, 243, 243);  
    padding-bottom: 5%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.fotosequipe{
    width: 20px;
    height: 140px;
    border-radius: 50%;
}

.divs2{
    padding-left: 10%;
}

.links{
    color: white;
}

p{
    font-family: "Helvetica Neue", Arial, sans-serif;
    text-align: justify;
}

.btn-primary, .btn-secondary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #124926 !important;
}